body {
font-size: 14px;
line-height: 18px;
color: #000000;
font-family: "PTSans NarrowBold", Arial, sans-serif;
}

h1 {
font-size: 30px;
line-height: 42px;
color: #000000;
font-family: "PTSans NarrowBold", Arial, sans-serif;	
text-transform: uppercase;
}

.index-content-right  p {
font-size: 14px;
line-height: 24px;
color: #000000;
font-family: "PTSans NarrowBold", Arial, sans-serif;	
text-transform: uppercase;
}

